.Main-page-balance {
  margin-top: 6rem;
  

}

.sales {
  color: black;
  width: 100%;
}

.sales__details {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  
}
.sales__graph {
  height: 10rem;
  width: 100%;
}

.balance-flex {
  display: flex;
  gap: 1rem;
}
.expenses__graph{
  margin-left: 3rem;
  
  
}

