*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}










body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color:  #C8A3E5;
    ;
}

/* 
::-webkit-scrollbar {
  width: 0.4vw;
  background-color: #F5F5F5;
} */

/* ::-webkit-scrollbar-thumb {
  background-color: #FF0000;
}  */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
